# Игнорируем виртуальное окружение
venv/
env/

# Игнорируем временные файлы python
__pycache__/
*.pyc

# Игнорируем настройки редактора кода
.vscode/
.idea/

# Игнорируем базу данных
*.db
*.sqlite3
instance/

# Игнорируем файл с секретными ключами
.env